/* Oculta los iconos de Notificaciones (Campanita) y Mensajes */
#alertsDropdown, 
#messagesDropdown {
    display: none !important;
}

li:has(#alertsDropdown),
li:has(#messagesDropdown) {
    display: none !important;
}